@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin flex($justify: flex-start, $align: flex-start, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
