$primary-font: "Poppins", sans-serif;

$font-size: 18px;
$horizontal-padding: 8vw;
$section-padding: $horizontal-padding;

//font sizes

$base-font-size: 1em;
$font-size-scale: 1.3;

$font-size-xs: $base-font-size / ($font-size-scale * $font-size-scale);
$font-size-s: $base-font-size / $font-size-scale;
$font-size-m: $base-font-size;
$font-size-l: $base-font-size * $font-size-scale;
$font-size-xl: $base-font-size * $font-size-scale * $font-size-scale;
$font-size-xxl: $base-font-size * $font-size-scale * $font-size-scale *
  $font-size-scale;

// vertical spacing

$gap-xxs: 0.375em;
$gap-xs: 0.5em;
$gap-s: 0.75em;
$gap-m: 1.25em;
$gap-l: 2em;
$gap-xl: 3.25em;
$gap-xxl: 5.25em;
$gap-xxxl: 8.25em;

:root {
  font-size: $font-size;
  @media (max-width: 1000px) {
    font-size: 17px;
  }
}
body {
  font-family: $primary-font;
}

@for $i from 1 to 5 {
  h#{$i} {
    margin-bottom: $gap-s;
    font-weight: 700;
  }
}

h1 {
  font-size: $font-size-xxl;
}
h2 {
  font-size: $font-size-xl;
}
h3 {
  font-size: $font-size-l;
}
h4 {
  font-size: $font-size-m;
}
p {
  margin-bottom: $gap-m;
}

header,
section,
footer {
  padding-left: $section-padding;
  padding-right: $section-padding;
}

p {
  font-size: $font-size-m;
}

.caption {
  font-size: $font-size-xs;
  font-weight: 400;
  margin-bottom: $gap-s;
}

.lead-icon {
  margin-bottom: $gap-s;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
