@import "reset";
@import "variables";
@import "mixins";

:root {
  font-size: $font-size;
  @media (max-width: 1000px) {
    font-size: 17px;
  }
}
body {
  font-family: $primary-font;
  background-color: #f0f1f6;
}

@for $i from 1 to 5 {
  h#{$i} {
    margin-bottom: $gap-s;
    font-weight: 700;
    color: $color-dark-blue;
  }
}

h1 {
  font-size: $font-size-xxl;
}
h2 {
  font-size: $font-size-xl;
}
h3 {
  font-size: $font-size-l;
}
h4 {
  font-size: $font-size-m;
}
p {
  margin-bottom: $gap-m;
  font-size: $font-size-m;
  color: $color-gray;
}

header,
section,
footer {
  padding-left: $section-padding;
  padding-right: $section-padding;
}

a:hover {
  color: $color-cyan;
  & > svg {
    fill: $color-cyan;
  }
}

.no-scroll {
  overflow: hidden;
}
.caption {
  font-size: $font-size-xs;
  font-weight: 400;
  margin-bottom: $gap-s;
  color: $color-gray;
}

.lead-icon {
  margin-bottom: $gap-s;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-centered {
  text-align: center;
}

.button-primary {
  padding: 0.5rem 1.5rem;
  color: $color-white;
  background: $color-cyan;
  border-radius: 5px;
  font-weight: 700;
  font-size: $font-size-s;
  &:hover {
    opacity: 0.7;
  }
  &--active {
    background-color: $color-violet;
  }
}

.call-to-action {
  width: max-content;
  border-radius: 25px;
  padding: 0.6rem 1.5rem;
  color: $color-white;
  background: $color-cyan;
  display: inline-block;
  &:visited {
    color: $color-white;
  }
  &:hover {
    opacity: 0.7;
  }
}
