@import "reset";
@import "typography";
@import "colors";
@import "mixins";

$mobile-breakpoint: 500px;
$tablet-breakpoint: 860px;
$desktop-breakpoint: 1200px;

body {
  overflow-x: hidden;
  background-color: #f0f1f6;
}
a:hover {
  color: $color-cyan;
  & > svg {
    fill: $color-cyan;
  }
}

.text-centered {
  text-align: center;
}

.header {
  @include flex(space-between, center);
  padding-top: $gap-l;
  padding-bottom: $gap-l;
  background-color: $color-white;
}

.logo {
  height: $font-size-xxl;
}
.navigation {
  @include flex(space-between, center);
  flex-grow: 1;
  @media (max-width: $tablet-breakpoint) {
    display: none;
  }
}

.navigation-list {
  @include flex(space-between, center);
}

.navigation-item:not(:last-child),
.logo {
  margin-right: $gap-l;
}

.menu-btn {
  &-bar {
    width: 2rem;
    height: 4px;
    background-color: $color-gray;
    transition: all 0.35s;
  }
  &-bar:nth-of-type(2) {
    margin: 5px 0;
  }

  @media (min-width: $tablet-breakpoint+1) {
    display: none;
  }
}

.menu-btn--active {
  .menu-btn-bar-2 {
    transform: translate(50%);
  }
  .menu-btn-bar {
    background-color: $color-cyan;
  }
}

.mobile-navigation {
  background-color: $color-violet;
  width: 86%;
  padding: 50px 20px;
  text-align: center;
  color: $color-white;
  position: absolute;
  top: 100px;
  left: -100%;
  border-radius: 7px;
  z-index: 2;
  transition: all 0.35s;
  &-list {
    text-align: center;
  }
  &-item {
    & > a {
      width: 100%;
    }
  }
  &-item:not(:last-of-type) {
    margin-bottom: $gap-m;
  }

  &-hr {
    border-top: 1px solid $color-gray;
    margin: $gap-l 0;
    opacity: 0.3;
  }
}

.mobile-navigation--active {
  left: 7%;
}
.button-primary {
  padding: 0.5rem 1.5rem;
  color: $color-white;
  background: $color-cyan;
  border-radius: 7%;
  font-weight: 700;
  font-size: $font-size-s;
  &:hover {
    opacity: 0.7;
  }
  &--active {
    background-color: $color-violet;
  }
}
.copy-button {
  width: 6rem;
}
.call-to-action {
  width: max-content;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  color: $color-white;
  background: $color-cyan;
  display: inline-block;
  &:visited {
    color: $color-white;
  }
  &:hover {
    opacity: 0.7;
  }
}

.hero-section {
  background-color: $color-white;
  padding-top: $gap-l;
  padding-bottom: $gap-xxxl;
  @include flex-column(flex-start, center);

  &-img {
    width: 100vw;
    max-width: 800px;
    margin-left: 50px;
  }

  &-content {
    text-align: center;
    margin-top: $gap-l;
  }

  @media (min-width: 1000px) {
    @include flex-reverse(center, space-between);
    &-img {
      width: 50%;
    }
    &-content {
      margin-top: 0;
      flex-grow: 1;
      text-align: left;
    }
  }
}

.features-section {
  position: relative;
}

.link-form {
  $form-padding: 30px;
  transform: translateY(-50%);
  padding: $form-padding;

  background-image: url("../public/assets/images/bg-boost-mobile.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-color: $color-violet;
  border-radius: 10px;

  &-input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 12px;

    &:invalid {
      border-color: $color-red;
    }
  }
  &-button {
    width: 100%;
    height: 50px;
    background-color: $color-cyan;
    border-radius: 5px;
    margin-top: $gap-m;
    color: $color-white;
    font-weight: 700;
    font-size: $font-size-m;
  }
  &-error {
    position: absolute;
    top: 85px;
    left: $form-padding;
    font-size: $font-size-s;
    color: $color-red;
  }
  @media (min-width: 700px) {
    @include flex(space-between, center);
    &-button {
      width: 20%;
      margin-top: 0;
    }
    &-input {
      width: 75%;
      margin-bottom: 0;
    }
  }
}
.invalid {
  border-color: $color-red;
}
@mixin delimiter($distance-x, $distance-y, $thickness) {
  content: "";
  position: absolute;
  background-color: $color-cyan;
  width: $thickness;
  height: $distance-y;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $desktop-breakpoint) {
    height: $thickness;
    width: $distance-x;
    top: 50%;
    left: 100%;
    transform: translateX(0);
  }
}

.link-item {
  padding: 10px;
  background-color: $color-white;
  @include flex(space-between, center);
  margin-bottom: $gap-l;
  &:last-of-type {
    margin-bottom: $gap-xxl;
  }

  &-title {
    margin: 0;
    color: $color-dark-violet;
    font-weight: 500;
    max-width: 40%;
    font-size: $font-size-m;
  }
  &-anchor {
    margin-right: $gap-m;
    color: $color-cyan;
    &:hover {
      color: $color-violet;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    @include flex-column();
    //font-size: $font-size-m;
    &-title {
      margin-bottom: $gap-m;
      max-width: 100%;
      width: 100%;
    }
    &-group {
      width: 100%;
      @include flex(space-between, center);
    }
  }
  @media (max-width: $mobile-breakpoint) {
    //font-size: $font-size-s;
  }
}

.feature-list {
  margin-top: $gap-xxl;

  @media (min-width: 1200px) {
    @include flex;

    & > .feature:nth-of-type(2) {
      margin: 30px 40px 0;
    }
    & > .feature:nth-of-type(3) {
      margin-top: 60px;
    }
  }
}

.feature {
  $list-gap-y: 100px;
  $list-gap-x: 40px;
  font-size: 0.9rem;
  background-color: $color-white;
  border-radius: 10px;
  padding: $gap-s;
  text-align: center;
  position: relative;

  &:not(:last-child) {
    margin-bottom: $list-gap-y;
    &::after {
      @include delimiter($list-gap-x, $list-gap-y, 10px);
    }
  }
}
.feature-logo {
  @include flex(center, center);
  @include circle(80px);
  background-color: $color-violet;
  margin: 0 auto;
  transform: translateY(-50%);
}

.boost-section {
  @include flex-column(flex-start, center);
  margin-top: $gap-xxl;
  padding-top: $gap-xxl;
  padding-bottom: $gap-xxl;
  background-image: url("../public/assets/images/bg-boost-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-violet;
  &-heading {
    color: $color-white;
  }

  @media (min-width: $tablet-breakpoint) {
    background-image: url("../public/assets/images/bg-boost-desktop.svg");
  }
}

.footer {
  padding-top: $gap-xxl;
  padding-bottom: $gap-xxl;
  background-color: $color-dark-violet;
  color: $color-gray-violet;
  text-align: center;
  font-size: $font-size-s;

  &-heading {
    color: $color-white;
    margin-bottom: $gap-s;
    margin-top: $gap-l;
  }
  &-logo {
    fill: $color-white;
  }

  @media (min-width: $tablet-breakpoint) {
    @include flex(space-between);
    &-heading {
      margin-top: 0;
    }
    .socials {
      margin: 0;
    }
  }
}

.socials {
  width: 100px;
  margin: $gap-l auto 0;
  transform: scale(75%) translateX(-25%);
  @include flex;
  & > li:not(:last-child) {
    margin-right: $gap-m;
  }
}
.social-icon {
  fill: $color-white;
}
